<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>{{ question.question_text }}</h1>

    {% if error_message %}
      <p><strong>
        {{ error_message }}
      </p></strong>
    {% endif %}

    <form action="****" method=post>
      {% csrf_token %}
      {% for choice in question.choice_set.all %}
      <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
      <label ="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
      {% endfor %}
      <input type="submit" Value="Vote" />
    </form>

    <a href="{% url 'index' %}">一覧画面へ</a><br />
  </body>
</html>
