{% extends "base.html" %}  <!--ここはそのまま-->

{% block contents %}  <!--このタグを追加。base.htmlのタグを対応している。-->
    <table border="1" class="table table-striped">
      <tr><th>質問内容</th><th>リンク</th></tr>
      {% for question in questions %}
      <tr>
        <td>{{ question.question_text }}</td>
        <td><a href="{% url 'polls:detail' question.pk %}">投票画面へ</a></td>
      </tr>
      {% endfor %}
    </table>
{% endblock contents %}  <!--このタグも追加。contentsというblockの終わりであることを明示-->
<!-- <html>, <head>, <body> 等のタグは継承元のbase.htmlにある為ここには不要。--->
