<!doctype html>
{% load staticfiles %}  <!--ここを追加。静的ファイルを読み込める様にしている。-->
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <!--↑を追加。bootstrapで用意されたCSSファイルを読み込んでいる。-->
  </head>
  <body>
    <table border="1">
      <tr><th>質問内容</th><th>リンク</th></tr>
      {% for question in questions %}
      <tr>
        <td>{{ question.question_text }}</td>
        <td><a href="{% url 'polls:detail' question.pk %}">投票画面へ</a></td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
